@CHARSET "UTF-8";@CHARSET "UTF-8";
body{
	overflow:scroll;
	background:url(../images/image_10.jpg) no-repeat top center ;
	background-size:cover;
	text-align:center;
	
}
#blog_div{	
	margin:220px auto;
	width:800px;
	height:600px;
	background: rgba(255,255,255,0.2);
	border-radius:8px;
	box-shadow:0 0 5px #000;
	text-align:center;
	font-family: "幼圆";
	color:#fff;
	text-shadow:0 0 2px #000;
}
.blog_input{
	width:200px;
	height:25px;
	font-size:20px;
	border:10;
}
#blog_div>h2{
	top:30px;position:relative;color:#ffffff;
	
}
#blog_div>h4{
	top:-60px;position:relative;color:#ff0000;
}
#blog{
	width:200px;
	height:30px;
	border-radius:5px;
	color:#fff;
	background:#ff5050;
	border:10;
	padding:10;
	cursor:pointer;

}
#remember{
	width:200px;
	height:40px;
	border:10;
	margin:auto;
	font-size:12px;
	padding:0;
}
#remember p{
	margin-top:10px;
	border:10;
	padding:0;
	line-height:20px;
	height:20px;
	width:100px;
	float:left;
	text-shadow:0 0 1px #333;
	position:relative;
	text-align:left;
	cursor:pointer;
}
#blog_div a{
	text-shadow:0 0 2px #ffffff;
	font-size:12px;
	width:50px;
	height:30px;
	position:relative;
	margin-left:310px;
	margin-top:40px;
	display:block;
	text-decoration:underline;
	cursor:pointer;
}
.bottom_div{
	position:absolute;left:0;bottom:0;
	height:150px;
	width:100%;
	background:rgba(255,255,255,0.2);
	box-shadow:0 0 2px #000;
	text-align:center;
	color:#fff;
}