@CHARSET "UTF-8";
body{
	overflow:scroll;
	background:url(../images/image_08.jpg) no-repeat top center ;
	background-size:cover;
	text-align:center;
	
}
#login_div{	
	margin:220px auto;
	width:400px;
	height:300px;
	background: rgba(255,255,255,0.2);
	border-radius:8px;
	box-shadow:0 0 5px #000;
	text-align:center;
	font-family: "幼圆";
	color:#fff;
	text-shadow:0 0 2px #000;
}
.login_input{
	width:200px;
	height:30px;
	font-size:18px;
}
#login_div>h2{
	top:30px;position:relative;color:#ffffff;	
}
#login_div>h4{
	top:-60px;position:relative;color:#ff0000;
}
#log{
	width:200px;
	height:35px;
	border-radius:5px;
	color:#fff;
	background:#ff5050;
	border:10;
	padding:10;
	cursor:pointer;

}
#remember{
	width:200px;
	height:40px;
	border:10;
	margin:auto;
	font-size:12px;
	padding:0;
}
#remember p{
	margin-top:10px;
	border:10;
	padding:0;
	line-height:20px;
	height:20px;
	width:100px;
	float:left;
	text-shadow:0 0 1px #333;
	position:relative;
	text-align:left;
	cursor:pointer;
}
#login_div a{
	text-shadow:0 0 2px #ffffff;
	font-size:15px;
	width:60px;
	height:30px;
	position:relative;
	margin-left:310px;
	margin-top:30px;
	display:block;
	text-decoration:underline;
	cursor:pointer;
}